html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #f4f4f4;
  background: linear-gradient(0deg, #f4f4f4 0%, #fcfcfe 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
  // background-image: url(/images/texture.png);
  background-position: top center;
  background-repeat:repeat;
}

// .gloss {
//   position: absolute;
//   width: 100%;
//   height: 100vh;
//   background: url(/images/gloss.png) repeat-x;
//   z-index:0;
//   padding: 0;
//   margin: 0;
// }

.row > * {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.35);
  padding-left: calc(var(--bs-gutter-x) * 0.35);
}

.header {
  font-family: "Noto Serif TC", serif;
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 1rem;
  text-align: center;
  color: #8b8b8b;
  font-size: 0.875rem;
  font-weight: normal;

  & > a {
    color: unset;
    text-decoration: none;
  }
}

button {
  background-color: #f0f0f0;
  color: #969696;
  border: 0;
  font-size: 0.875rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.selected {
  background-color: #ff839a;
  color: white;
}

.card-header,
.card-footer {
  background-color: #fff;
  line-height: 1;
  border: 0;
}

.card-body {
  padding: 0 1rem;
}

.store {
  &-card {
    & > .card-header {
      display: flex;
      //  justify-content: center;
      align-items: center;
    }

    & > .card-body {
      font-size: 0.875rem;
    }

    & > .card-footer {
      display: flex;
      //  justify-content: center;
      align-items: center;
    }
  }
}

.card {
  &-cate {
    font-size: 0.875rem;
    line-height: 1rem;
    background-color: #fff3f5;
    color: #ff839a;
    padding: 0.25rem;
    border-radius: 4px;
    margin-right: 0.25rem;
  }

  &-name {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #362e2b;
  }

  &-icon {
    font-size: 1.5rem;
    color: #999;
    //  padding: 0.25rem;

    // &.fb {
    //   color: #0866ff;
    // }

    // &.ig {
    //   color: #f7009d;
    // }

    // &.map {
    //   color: #f74d4d;
    // }
  }

  &-date {
    min-width: 60px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
    padding: 2px;
    color: #ff839a;
    border: #ff839a 1px solid;
    border-radius: 4px;
    text-align: center;
    margin-right: 0.25rem;
  }

  &-time {
    color: #404040;
  }

  &-content {
    font-size: 0.875rem;
  }

  &-note {
    font-size: 0.8125rem;
    color: #999;
  }
}
